<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example343443.mini_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_project">
        <activity android:name=".result"
            android:theme="@style/mcqs"

            ></activity>
        <activity
            android:name=".questions"
            android:parentActivityName=".MainActivity2"></activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginss"
            android:theme="@style/newww" />
        <activity
            android:name=".Welcomescree"
            android:theme="@style/MainsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity3"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SingupActivity"
            android:theme="@style/newww" />
        <activity
            android:name=".about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity2"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>